.backgroundImg {
    background-image: url('../src/assets/backgoundimg/customerRegisterBackground.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}
.placeholder-color::placeholder {
    color: #CDE6CD;
}

/* Start Farmer */
/* RegisterFarmerStep1 */
.bg-ebffeb{
    background-color: #EBFFEB;
}

button.bg-primary:hover {
    background-color: #1ed768; /* Màu nhạt hơn */
  }

/* End Farmer */